@import "tailwindcss";

:root {
  --vh: 100%;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

label {
  margin-right: 1ch;
}

input,
select {
  background-color: white;
  color: black;
  padding-bottom: 0.5rem;
}

@layer utilities {
  .spin-slow {
    animation: spin 1.7s linear infinite;
  }
}

@theme inline {
  --font-matrix-card-name: var(--font-matrix-card-name);
  --font-matrix-card-type: var(--font-matrix-card-type);
  --font-matrix-italic: var(--font-matrix-italic);
  --color-btn-bg: #0181cc;
  --color-btn-border: #1bdaf7;
  --color-allcards-bg: #121837;
}
